input {
    width: 100%;
    border-radius: 5px;
}

.productCard {
    color: black;
}

ul {
    width: 100%;
    list-style: none
}

li {
    cursor: pointer;
}

li:hover {
    color: blue;
}

.Navigation {
    min-height: 100vh;
    height: auto;
}

.name {
    font-size: 0.7em;
    width: 250px;
    padding: 0
}

th {
    font-size: 0.7em;
    padding-left: 1%;
}

td {
    font-size: 0.8em;
    min-width: 70px;
    padding-left: 1%;
}

.image {
    max-width: 90px;
    max-height: 70px;
    border-radius: 5px;
    margin-left: 20%
}